img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s; 
}

img:hover {
    transform: scale(1.4); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(84, 82, 82); 
    color: white; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    max-width: 600px;
    margin: 20px;
}

.image-container {
    flex: 1;
    text-align: right;
}

.image-info {
    flex: 1;
    padding: 20px;
    margin-right: 10px;
}

h1,
p {
    margin: right 10px;
}


